@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
*{
    margin: 0px;
    padding: 0px;
    color: white;
}

body{
    background-image: url("/static/imgs/fundo\ 1.png");
    display: grid;
    justify-items: center;
}
.corpo-1{
    display: grid;
    justify-items: center   ;
}

header{
    margin-top: 30px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    
    width: 90vw;
}
header img{
    width: 30px;
}
.menu-container{
    display:none;
}
.logo img{
    
    width: 40%;
    min-width: 200px;
}

.nav a{
    align-items: center;
    text-decoration: none;
    color: white;
}
.nav li{
    font-family: "Italiana";
    font-size: 1.2rem;
    color: white;
    list-style: none;
    
    transition-delay: 0.2s;
    transition-property: color;
}

.nav li:hover,a:hover{
    text-decoration: underline;
    transition-delay: 250ms;
    transition-property: margin-right;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    cursor: pointer;
}
.nav-text ul{
    gap: 20px;
    background-color: #81867B;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    border-radius: 10px;
}


.nav-icon ul{
    background-color: rgba(71, 15, 15, 0);
    display: grid;
    justify-items: right;
    padding: 5px;
    align-items: center;
}

.loc{
    display: flex;
    text-align: center;
    align-items: center;
}


.aprese-1{
    color: white;
    background-color: rgba(165, 39, 39, 0);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:50% 60%;
    gap: 30px;
    justify-content: center;
    justify-items: center;

    width: 90vw;
    padding: 10px;

}

.textos{
    letter-spacing: 3px;
    font-family: "Italiana";
}
.titulo{
    padding: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 10px;
    background-color: #000000b6;
    width: 90%;
    font-size: 3vw;
}
.sub-titulo{
    
    padding: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 10px;

    background-color: #000000b6;
    width: 61%;
    font-size: 1.5vw;

}

.btn-orcamento{
    
    text-shadow: 1px 1px 1px #000;
    font-size: 2rem;
    width: 80%;
    height: 15%;
    align-items: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.btn-orcamento a{
    font-family: 'Italiana';
    width: 100%;
    display: inline-block; 
    justify-items: center;
    padding: 10px 20px; 
    background-color: #847650;
    color: white; 
    text-align: center; 
    font-size:  2rem; 
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
}
.btn-orcamento a:hover{
  
    transition-delay: 0.2s;
    transition-property: background;
    box-shadow: 1px 1px 1px #000;
    background-color: #756947;
}
.btn-orcamento  img{
    width: 40px;

}

.btn-orcamento span{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    height: 50px;
}
.btn-orcamento a{
    text-decoration: none;
}
.carrocel{
    display: grid;
    margin-left: 10%;
    justify-items: center;
}
.carrocel img{
    width: 65%;
}




.produtos{
    background-color: rgba(0, 128, 0, 0);
    display: grid;
    justify-items: center;
}
.produtos-titulo{
    font-family: "Italiana";
    font-size: 3rem;
}

.produtos-img{
    display: flex;
    background-color: #81867b00;
}
.sec-produtos-img{
    display: grid;
    justify-items: center;
}

.sec-produtos-img img{
    width: 90%;
}
.sec-produtos-img span{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #847650;
    width: 90%;
    height: 61px;
    text-align: center;
    border-radius: 10px;
    font-size: 2rem;
}
#meio{
    gap: 20px;
}
#lado{
    margin-top: 50px;
}

.produtos-info {
    outline: 1px solid;
    gap: 20px;
    padding: 25px;
    background-color: #847650a1;
    border-radius: 20px;
    margin-top: 15px;
    width: 90%;
    display: flex;
    justify-content: center;
}
.esquerda{
    width: 50%;
}
.produtos-info li{
    font-size: 1.5rem;
}

.contatos{
    padding: 20px;
    margin-top: 40px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.719);
    display: grid;
    justify-items: center;
    width: 90%;
}
.contatos-logo{
    width: 90%;
    background-color: #84765000;
}
.contatos-titulo {
    font-family: "Italiana";
    font-size: 4rem;
}
.contatos-sub-titulo {
    
    font-family: "Italiana";
    font-size:2rem;
    margin-bottom: 20px;
}

.redes-sociais{
    background-color: #84765000;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.redes{
    display: grid;
    background-color: rgba(0, 0, 0, 0);
    justify-items: center;
}

.maps{   
    margin-top: 20px;
    background-color: #84765000;
    border-radius: 20px;
    width: 40%;
    height:40%;
}
.maps iframe {
    border-radius: 20px;
    width: 100%;
    height: 200%;
}

footer{
    display: flex;
    background-color: #2B2727;
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;
}
.footer-medias{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.footer-medias img{
    width: 20px;
}
.redes span {
    font-size: 0.8rem;
}



@media screen and (max-width: 1000px){
    *{
        margin: 0;
        padding: 0;

    }
    body{
        margin: 0;
        padding: 0;
        display: grid;
        justify-items: center;
        width: 100vw;
        height: 100%;
        border: 1px solid rgb(240, 13, 183);
    }
    .corpo-1{
        margin: 0;
        margin-top: 20px;
        padding: 0;
        display: grid;
        justify-items: center;
    }
    header{
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        
        background-color: #00000000;
    }

    .logo img{
        width: 250px;
        background-color: #84765000;
    }
    
    .nav{
        position: fixed;

    }
    .nav-icon, .nav-text{display: none;}






    .menu-container {
        display: block;
        position: fixed;
        background-color: #333;
        right: 1px;
      }
    
      .menu-toggle {
        display: none;
      }
    
      .menu-label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        cursor: pointer;
        color: #fff;
        background-color: #333;
      }
    
      .menu-label span {
        font-size: 1.2rem;
      }
    
      .menu-label .icon {
        font-size: 1.5rem;
      }
    
      .menu {
        display: none;
        flex-direction: row;
        background-color: #444;
      }
    
      .menu a {
        color: white;
        text-decoration: none;
        padding: 1rem;
        border-bottom: 1px solid #555;
      }
    
      .menu a:hover {
        background-color: #555;
      }
    
      /* Mostrar o menu quando o checkbox estiver marcado */
      .menu-toggle:checked ~ .menu {
        display: flex;
      }






    .aprese-1{
        margin: 0;
        padding: 0;
        display: block;
        background-color: #81867b00;
    }
    .textos {
        text-align: center;
        background-color: #00000096;
        height: 120px;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    .titulo{
        font-size: 1.5rem;
        background-color: rgba(0, 0, 0, 0);
    }
    .sub-titulo{
        background-color: rgba(0, 0, 0, 0);
        font-size: 0.95rem;
        width: 90%;
    }
   .carrocel{
    margin: 0;
    margin-bottom: 20px;
    } 
    .carrocel img{
        width: 300px;
    }
    .btn-orcamento{
        
    margin-bottom: 20px;
        box-shadow: 1px 1px 1px black;
        
    }
    .btn-orcamento span{
        font-size: 1.5rem;
    }
    
    .produtos{
        background-color: #44292900;
    }

    .produtos-titulo{
        font-size: 2.3rem;
    }

    .produtos-img{
        display: block;
    }
    .sec-produtos-img{
        gap: 20px;
        width: 300px;
    }
    #lado{
        margin-bottom:  40px;
    }
    .produtos-info{
        width: 300px;
    }
    .contatos{
        display: block;
        
    }
    .contatos-logo {
        display: flex;
        justify-items: center;
        margin-bottom: 10px;
    }    
    .contatos-logo img{
        width: 100%;
    }

    .contatos-titulo{
        font-size: 1.2rem;
    }

    .maps{
        display: none;
    }
    .redes-sociais{
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
    .redes img{
        width: 40px;
    }
    footer{
        
        display: block;
        width: 100%;
        font-size: 0.8rem;
        text-align: center;
    }
    
    .footer-medias{display: none;}
    .footer-contatos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
        background: #00000000;
    }
    








}   
