<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VidroPlano</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <section class="corpo-1">

        <header>
            <div class="logo">
                <img src="/static/imgs/logo.svg" alt="">
            </div>

            <div class="nav">

                <nav class="nav-text">
                    <ul class="text-bar">
                        <li>Home</li>
                        <li>Produtos</li>
                        <li>Projetos</li>
                        <li>Contatos</li>
                        <li class="sobre">Sobre nos</li>
                    </ul>
                </nav>
                
                <nav class="nav-icon">
                    <ul class="icon-bar">
                        <a target="_blank" href="https://api.whatsapp.com/send/?phone=55071991770656&text&type=phone_number&app_absent=0"><li class="loc">71 9 9177-0656<img style="padding-left: 5px;" src="/static/icons/whatsapp (1) 1.png" alt=""></li></a>
                        <a target="_blank" href="""><li class="loc">@vidroplano<img style="padding-left: 5px;" src="/static/icons/instagram 1.png" alt=""></li></a>
                        <a target="_blank" href="https://www.google.com/maps/place/vidroplano/@-12.8880518,-38.3411988,20z/data=!4m9!1m2!2m1!1smaps!3m5!1s0x716171a01ae6111:0x8c5a58b616554bb2!8m2!3d-12.8881016!4d-38.3408685!16s%2Fg%2F11y22h8grv?entry=ttu&g_ep=EgoyMDI0MTExOS4yIKXMDSoASAFQAw%3D%3D"><li class="loc">RUA BENEDITO REBOUÇAS DA SILVA - Caji<img src="/static/icons/local.png" alt=""></li></a>
                    </ul>    
                </nav>

            </div>

        </header>

        <section class="aprese-1">
            <div class="textos">
                <div class="titulo">
                    Qualidade e Segurança conprovada!
                </div>
                <div class="sub-titulo">
                    Há 30 anos transformando ideias em realidade com excelência.
                </div>
            </div>
            
            <div class="carrocel">
                    <span>Acesse a pagina de <a href="" style="color: blue;">projetos</a></span>
                    <img src="/static/imgs/produtos.png" alt="">
            </div>

            <div class="btn-orcamento">
               <a target="_blank" href="https://api.whatsapp.com/send/?phone=55071991770656&text&type=phone_number&app_absent=0"> <span>Faça seu orçamento. <img src="/static/icons/whatsapp (1) 1.png" alt=""></span></a> 
            </div>
        </section>
        
        <section class="produtos">
            
            <div class="produtos-titulo">
                Produtos e Serviços
            </div>

            <div class="produtos-img">

                <div class="sec-produtos-img" id="lado">
                    <span>Escadas e Corrimão</span>
                    <img src="/static/imgs/sec-produtos/Group 3.png" alt="">
                </div>

                <div class="sec-produtos-img" id="meio">
                    <span>Portas e Janelas</span>
                    <img src="/static/imgs/sec-produtos/Group 4.png" alt="">
                </div>

                <div class="sec-produtos-img" id="lado">
                    <span>Box e Eseplhos</span>
                    <img src="/static/imgs/sec-produtos/Group 5.png" alt="">
                </div>

            </div>

            <div class="produtos-info">
                <div class="esquerda">
                    <ul>
                    <li>Portas, boxs, fechamentos, seteiras, basculantes, sacadas e janelas em vidro temperado e em diversos sistemas </li>
                    <li>Espelhos e painéis de espelhos</li>
                    <li>Mesas e tampos de mesa</li>
                    <li>Pias e bancadas</li>
                    <li>Prateleiras</li>
                </ul>
            </div>
                <div class="direita">
                    <ul>
                        <li>Caixas e colunas</li>
                        <li>Espelhos convexos</li>
                        <li>Manutenção em sistemas de vidro temperado</li>
                        <li>Armários</li>
                        <li>Peças, ferragens e acessórios da área vidreira</li>
                        <li>Projetos e consultoria em Design de Interiore</li>
                    </ul>
                </div>
            </div>

        </section>

        <section class="contatos">

            <div class="contatos-logo"><img src="/static/imgs/Group 6.png" alt=""></div>
            
            <div class="contatos-titulo">Faça seu Orçamento</div>
            <div class="contatos-sub-titulo">Fale conosco!</div>
            
            <div class="redes-sociais">
                <div class="redes">
                    <img src="/static/icons/whatsapp (1) 1.png" alt="">
                    <span> 71 99177-0656 </span>
                </div>
                <div class="redes">
                    <img src="/static/icons/instagram 1.png" alt="">
                    <span>@vidroplano</span>
                </div>
                <div class="redes">
                    <img src="/static/icons/facebook 1.png" alt="">
                    <span>@vidroplano</span>
                </div>
                <div class="redes">
                    <img src="/static/icons/linkedin 1.png" alt="">
                    <span>@vidroplano</span>
                </div>
                <div class="redes">
                    <img src="/static/icons/e-mail 1.png" alt="">
                    <span>vendasvidroplano@gmail.com</span>
                </div>
            </div>
            <div class="maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d486.16321677511473!2d-38.3411988!3d-12.8880518!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x716171a01ae6111%3A0x8c5a58b616554bb2!2svidroplano!5e0!3m2!1spt-BR!2sbr!4v1732488061660!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>
        <footer>
            <div class="footer-medias">
                <div class="redes">
                    <img src="/static/icons/whatsapp (1) 1.png" alt="">
                    <span> 71 99177-0656 </span>
                </div>
                <div class="redes">
                    <img src="/static/icons/instagram 1.png" alt="">
                    <span>@vidroplano</span>
                </div>
                <div class="redes">
                    <img src="/static/icons/facebook 1.png" alt="">
                    <span>@vidroplano</span>
                </div>
                <div class="redes">
                    <img src="/static/icons/linkedin 1.png" alt="">
                    <span>@vidroplano</span>
                </div>
                
            
            </div>
       
            <div class="footer-contatos">
                Telephone: 55 71 9 0000-0000 <br>
                Telephone Fixo 55 71 0000-0000 <br>
                Email: vendasvidroplano@gmail.com
            </div>
            <div class="footer-dados">
                © 2024 VidroPlano. Todos os direitos reservados. <br> VidroPlano ME - CNPJ: 00.000.000/0000-00 <br> RUA BENEDITO REBOUÇAS DA SILVA - Caji, <br>Lauro de Freitas - BA, < 42721-810
            </div>
        </footer>
    </section>
</body>
</html>